@model HtmlLabFour.Models.WorkshopModel

@{
    ViewBag.Title = "Validation";
}

<h2>Did your code make it?</h2>
<br />
First Name: @Model.FirstName<br />
Last Name: @Model.LastName<br />
BirthDate: @Model.BirthDate<br />
Number of Computers in Household: @Model.Computers<br />
Gender: @Model.Gender<br />
Favorite Color: @Model.Color<br />
Is a Developer: @Model.IsDeveloper<br />
Notes: @Model.Notes<br />

